<div class="loader-wrapper" id="loader_wrapper">
   <!-- <img  src="./assets/images/loader.gif" alt="loader" /> -->
   <div class="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
   </div>
</div>





		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile">
			<!--begin::Logo-->
			<a href="performance-dashboard.html">
				<img alt="First Rate" src="./assets/images/first-rate-logo.png" class="logo-default max-h-30px" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
					<span></span>
				</button>
				<button class="btn btn-icon btn-hover-transparent-white p-0 ml-3" id="kt_header_mobile_topbar_toggle">
					<span class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
								<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</button>
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Header-->
					<div id="kt_header" class="header header-fixed">
						<!--begin::Container-->
						<div class="container d-flex align-items-stretch justify-content-between">
							<!--begin::Left-->
							<div class="d-flex align-items-stretch mr-3">
								<!--begin::Header Logo-->
								<div class="header-logo" style="position:relative">
									
									<a href="performance-dashboard.html">
										<img alt="First Rate" src="./assets/images/first-rate-logo.png" class="logo-default max-h-40px" />
										<img alt="First Rate" src="./assets/images/first-rate-logo-dark.png" class="logo-sticky max-h-40px" />
									</a>
								</div>
								<!--end::Header Logo-->
								<!--begin::Header Menu Wrapper-->
								<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
									<!--begin::Header Menu-->
									<div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
										<!--begin::Header Nav-->
										<ul class="menu-nav">
											<li class="menu-item">
												<a href="javascript:;" class="menu-link menu-toggle">
													<span class="menu-text">Dashboard</span>
													<i class="menu-arrow"></i>
												</a>												
											</li>
											<li class="menu-item">
												<a href="onboard.html" class="menu-link">
													<span class="menu-text">Onboard</span>
													<i class="menu-arrow"></i>
												</a>												
											</li>
											<li class="menu-item menu-item-submenu">
												<a href="custodian-connectivity.html" class="menu-link">
													<span class="menu-text">Connectivity</span>
													<span class="menu-desc"></span>
													<i class="menu-arrow"></i>
												</a>												
											</li>
											<li class="menu-item">
												<a href="reconciliation.html" class="menu-link">
													<span class="menu-text">Reconciliation</span>
													<i class="menu-arrow"></i>
												</a>												
											</li>
											<li class="menu-item menu-item-submenu menu-item-rel">
												<a href="reports.html" class="menu-link">
													<span class="menu-text">Reports</span>
													<span class="menu-desc"></span>
													<i class="menu-arrow"></i>
												</a>												
											</li>																						
										</ul>
										<!--end::Header Nav-->
									</div>
									<!--end::Header Menu-->
								</div>
								<!--end::Header Menu Wrapper-->
							</div>
							<!--end::Left-->
							<!--begin::Topbar-->
							<div class="topbar">
								<!--begin::Search-->
								<div class="dropdown">
									<!--begin::Toggle-->
									<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
										<div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1">
											<span class="svg-icon svg-icon-xl">
												<!--begin::Svg Icon-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
														<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>
										</div>
									</div>
									<!--end::Toggle-->
									<!--begin::Dropdown-->
									<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
										<div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
											<!--begin:Form-->
											<form method="get" class="quick-search-form">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<span class="svg-icon svg-icon-primary svg-icon-lg">
																<!--begin::Svg Icon-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																		<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																	</g>
																</svg>
																<!--end::Svg Icon-->
															</span>
														</span>
													</div>
													<input type="text" class="form-control" placeholder="Search..." />
													<div class="input-group-append">
														<span class="input-group-text">
															<i class="quick-search-close ki ki-close icon-sm text-muted"></i>
														</span>
													</div>
												</div>
											</form>
											<!--end::Form-->
											<!--begin::Scroll-->
											<div class="quick-search-wrapper scroll" data-scroll="true" data-height="325" data-mobile-height="200"></div>
											<!--end::Scroll-->
										</div>
									</div>
									<!--end::Dropdown-->
								</div>
								<!--end::Search-->
								
								<!--begin::Quick Actions-->
								<div class="dropdown">
									<!--begin::Toggle-->
									<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
										<div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
											<span class="svg-icon svg-icon-xl">
												<!--begin::Svg Icon-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
														<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
														<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
														<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>
										</div>
									</div>
									<!--end::Toggle-->
									<!--begin::Dropdown-->
									<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
										<!--begin:Header-->
										<div class="d-flex flex-column flex-center py-10 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(assets/media/bg-12.jpg)">
											<h4 class="text-white font-weight-bold">Quick Actions</h4>
										</div>
										<!--end:Header-->
										<!--begin:Nav-->
										<div class="row row-paddingless">
											<!--begin:Item-->
											
											
											<div class="col-6">
												<a data-toggle="modal" data-target="#reportsPopup" href="#" class="d-block py-7 px-4 text-center bg-hover-light border-bottom border-right">
													<span class="svg-icon svg-icon-3x svg-icon-success">
														<!--begin::Svg Icon-->
														<i class="icon1 flaticon2-checking icon-3x fl text-success"></i>
														<!--end::Svg Icon-->
													</span>
													<span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Reports</span>
												</a>
											</div>
											<!--end:Item-->
											<!--begin:Item-->
											<div class="col-6">
												<a href="augmented-data-discovery.html" class="d-block py-10 px-5 text-center bg-hover-light border-bottom">
													<span class="svg-icon svg-icon-3x svg-icon-success">
														<!--begin::Svg Icon-->
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																<polygon points="0 0 24 0 24 24 0 24"/>
																<path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
																<path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"/>
															</g>
														</svg>
														<!--end::Svg Icon-->
													</span>
													<span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Augmented Data</span>
												</a>
											</div>
											<!--end:Item-->
											<!--begin:Item-->
											<div class="col-6">
												<a href="security-identifier.html" class="d-block py-10 px-5 text-center bg-hover-light border-right" style="line-height:21px">
													<i class="flaticon-globe text-success icon-3x"></i>
													<span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Security Identifier</span>
												</a>
											</div>
											<!--end:Item-->
											<!--begin:Item-->
											<div class="col-6">
												<a href="javascript:switchPortal();" class="d-block py-10 px-5 text-center bg-hover-light" style="line-height:21px">
													<i class="flaticon-analytics text-success icon-3x"></i>
													<span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Unstructured Data</span>
												</a>
											</div>
											<!--end:Item-->
										</div>
										<!--end:Nav-->
									</div>
									<!--end::Dropdown-->
								</div>
								<!--end::Quick Actions-->
								
								<!--begin::Quick panel-->
								<div class="topbar-item">
									<div class="btn btn-icon btn-hover-transparent-white btn-lg mr-1" id="kt_quick_panel_toggle">
										<span class="svg-icon svg-icon-xl">
											<!--begin::Svg Icon-->
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24" />
													<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
													<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</div>
								</div>
								<!--end::Quick panel-->
								
								<!--begin::User-->
								<div class="dropdown">
									<!--begin::Toggle-->
									<div class="topbar-item">
										<div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto" id="kt_quick_user_toggle">
											<span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">John Doe</span>
											<span class="symbol symbol-35">
												<img alt="Pic" src="./assets/images/userDefault.png">
											</span>
										</div>
									</div>
									<!--end::Toggle-->
								</div>
								<!--end::User-->
							</div>
							<!--end::Topbar-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Header-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->









<!-- <div class="navbar navbar-expand-lg navbar-absolute fixed-top custom-navbar post-login-header bg-primary"
   data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="700" data-aos-offset="100"
   data-aos-easing="ease-in-sine">
   <span class="float-right" (click)="toogleSideBar()"><i class="icon icon-cross"></i></span>
   <div class="container-fluid p-0">
      <div class="navbar-wrapper">
         <div class="toggle-sidebar float-left ml-4 pt-2" (click)="toogleSideBar()">
            <span class="navbar-toggler-icon icon-bar bg-white"></span>
            <span class="navbar-toggler-icon icon-bar bg-white"></span>
            <span class="navbar-toggler-icon icon-bar bg-white"></span>
         </div>
         <a class="navbar-brand" [routerLink]="'/home'">
            <img src="./assets/images/logo.jpg" alt="logo" style="width:40px" />
         </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
         aria-expanded="false" aria-label="Toggle navigation">

         <span class="sr-only">Toggle navigation</span>
         <span class="navbar-toggler-icon icon-bar"></span>
         <span class="navbar-toggler-icon icon-bar"></span>
         <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end custom-search">
         <div class="navbar-form">
            <div class="input-group no-border">

               <select class="form-control-sm mr-2" #langSelect (change)="translate.use(langSelect.value)">
                  <option value=""> {{ 'ChooseLangauge' | translate }}</option>
                  <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                     [selected]="lang === translate.currentLang">
                     {{lang}}</option>
               </select>
            </div>
         </div>
         <ul class="navbar-nav">
            <li class="nav-item mr-2">
               <button class="btn-sm btn-primary" (click)="open(content)">{{'SQM' | translate}}</button>
            </li>
            <li class="nav-item mr-2">
               <button type="button" class="btn-sm btn-primary" (click)="appAdmin()">{{'Monitor' | translate}}</button>
            </li>


            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle p-0" data-toggle="dropdown" id=Profile aria-expanded="false"
                  [routerLink]="[]">
                  <i class="fa fa-user-circle"></i>
                  <img src="./assets/images/user.svg" alt="logo" />
               </a>

               <ul class="dropdown-menu" aria-labelledby="Profile">
                  <li class="nav-item active">
                     <a [routerLink]="'/myprofile'">

                        {{ 'PostLogInHeader.MyProfile.Name' | translate }}</a>
                  </li>
                  <li class="nav-item active">
                     <a [routerLink]="'/changepasswordlink'">

                        {{ 'PostLogInHeader.ChangePasswordLink.Name' | translate }}</a>
                  </li>
                  <li class="nav-item active">
                     <a (click)="logout()" [routerLink]="'/logout'">
                        {{ 'PostLogInHeader.Logout.Name' | translate }}</a>
                  </li>
               </ul>
            </li>
         </ul>


      </div>
   </div>
</div>
<div class="mobile-bottom bg-primary">
   <ul>
      <li>
         <a [routerLink]="'/myprofile'">
            <i class="icon icon-user"></i>
            <span>Profile</span>
         </a>
      </li>
      <li>
         <a [routerLink]="'/home'">
            <i class="icon icon-home bg-dark"></i>
            <span>Home</span>
         </a>
      </li>
      <li>
         <a (click)="logout()" [routerLink]="'/logout'">
            <i class="icon icon-login"></i>
            <span>Logout</span>
         </a>
      </li>
   </ul>
</div> -->

<ng-template #content let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'SuportPageHeaderName' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body sqm-modal">
      <form name="SuportPage" id="SupportTeamFormId" [formGroup]="form" method="post" novalidate>
         <div class="custom-form-group">
            <div class="form-group">
               <label for="SubjectId">{{ 'SuportPageSubjectName' | translate }} </label>
               <input type="textArea" name="subject" id="SubjectId" class="form-control validate"
                  formControlName="subject" required>
               <div class="invalid-feedback"> </div>
            </div>
            <div class="form-group">
               <label for="MessageId"> {{ 'SuportPageMessageName' | translate }}</label>
               <textarea name="message" id="MessageId" class="form-control validate" formControlName="message" row="3"
                  required></textarea>
               <div class="invalid-feedback"> </div>
            </div>
            <input type="hidden" name="ScreenPat" formControlName="screenPath" id="ScreenPathId"
               class="form-control validate" required>
            <small class="text-success">{{ 'SuportPageMailMessage' | translate }}</small>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnSendMail" (click)="sendEmail()">{{
               'SuportPageButtonName' | translate}}</button>
         </div>

      </form>

   </div>

</ng-template>