                                <!DOCTYPE html>


                                                <div class="main-panel" >
                                                    <div class="content  ">
                                                        <!-- Starting of Page --->
                                           <!-- section Start -->

                                           <div class="card"  >

     <div class="card-header card-header-primary bg-primary d-flex align-items-center justify-content-between "
>

                    <h4 class="card-title" >{{'AboutUs.Section4.Title' | translate}}</h4>

                    </div>


               <div class="card-body">

 <!-- Section Card Section Start -->

               			 <div class="row custom-form-group">
                          <div class="text-center w-100  mb-3"><span class="from-group-name  pb-2 font-weight-bold">About Us</span></div>
                         		<!-- Form Field Generation   Staart-->
                                                <p class="text-main-heading w-100"> app platform addresses this problem through AI guided requirements gathering, ensuring completeness, coherence and integrity of the requirements models it automatically generates, based on business analyst inputs. The rest of the application development process is fully automated. </p>




<!-- Form Field Generation  ss End-->
                         		<!-- Form Field Generation   Staart-->
                                     <p class="text-main-heading w-100">This is heading </p>


<!-- Form Field Generation  ss End-->

               				</div>




                                        <!-- Section Form Fields end -->

  		 </div>

 </div>

                                         <!-- section END -->

                                       <!-- Page commands Start -->


                                        <!-- Page commands End -->



                                                        </div>

