<!DOCTYPE html>


<div class="main-panel">
  <div class="content  ">
    <!-- Starting of Page --->
    <!-- section Start -->

    <div class="card">

      <div class="card-header card-header-primary bg-primary d-flex align-items-center justify-content-between ">

        <h4 class="card-title">{{'Home.Section5.Title' | translate}}</h4>

      </div>


      <div class="card-body">

        <!-- Section Card Section Start -->

        

        aa

        <!-- Section Form Fields end -->

      </div>

    </div>


    

    <!-- section END -->

    <!-- Page commands Start -->

    <!-- Page commands End -->

  </div>